* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #1e2d3b;
}

img {
    width: 150px;
}

.cds-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;

    h3 {
        color: #fff;
        text-align: center;
    }

    span {
        color: #000;
    }
}

.disco {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 200px;;
    padding: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #717376;;
}